<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">

    <!-- 角色配置管理 -->
    <select id="roleListData" resultType="map">
		select (@i:=@i+1)
		rownum,n.*
		from
		tb_caas_role n ,
		(select
		@i:=#{start} )it where 1=1 and id != '1'
		<if test="condition != null">
			and n.name like concat('%',#{condition},'%')
		</if>
		${limit}
	</select>

	<select id="roleListDataCount" resultType="map">
		select count(0) as totalCount
		from tb_caas_role n 
		where 1=1 and id != '1'
		<if test="condition != null">
			and n.name like concat('%',#{condition},'%')
		</if>
	</select>

	<delete id="deleteRole">
		delete from tb_caas_role where id =#{id};
	</delete>

	<delete id="batchDeleteRole">
		delete from tb_caas_role where id in (${str});
	</delete>

	<select id="getRole" resultType="map">
		select t.* from tb_caas_role t where t.id =#{id} limit 1
	</select>
	
	<select id="getAllRole" resultType="map">
		select t.* from tb_caas_role t 
	</select>

	<update id="saveEditRole">
		update tb_caas_role set name=#{name},menu_priv=#{menu_priv},remark=#{remark} where `id`=#{id};
	</update>
	
	<insert id="saveAddRole">
		INSERT INTO `tb_caas_role` (`name`, `menu_priv`, `remark`) VALUES (#{name}, #{menu_priv}, #{remark});
	</insert>
	
	<update id="updateRoleStatus">
		update tb_caas_role set `status`=#{status} where id=#{id};
	</update>
	
	<!-- 菜单配置管理 -->
    <select id="menuListData" resultType="map">
		select (@i:=@i+1)
		rownum,n.*, m.name as super_name
		from
		tb_caas_menu n left join tb_caas_menu m on n.super_id = m.id ,
		(select
		@i:=#{start} )it where 1=1
		<if test="condition != null">
			and n.name like concat('%',#{condition},'%')
		</if>
		${limit}
	</select>

	<select id="menuListDataCount" resultType="map">
		select count(0) as totalCount
		from tb_caas_menu n left join tb_caas_menu m on n.super_id = m.id 
		where 1=1
		<if test="condition != null">
			and n.name like concat('%',#{condition},'%')
		</if>
	</select>

	<delete id="deleteMenu">
		delete from tb_caas_menu where id =#{id};
	</delete>

	<delete id="batchDeleteMenu">
		delete from tb_caas_menu where id in (${str});
	</delete>

	<select id="getMenu" resultType="map">
		select t.* from tb_caas_menu t where t.id =#{id} limit 1
	</select>
	
	<select id="getAllMenu" resultType="map">
		select t.* from tb_caas_menu t 
	</select>

	<update id="saveEditMenu">
		update tb_caas_menu set url=#{url},name=#{name},remark=#{remark},super_id=#{super_id},
		`status`=#{status},sort=#{sort},pic=#{pic} where `id`=#{id};
	</update>
	
	<insert id="saveAddMenu">
		INSERT INTO `tb_caas_menu` (`url`, `name`, `remark`, `super_id`, `status`, `sort`, `pic`)
		VALUES (#{url}, #{name}, #{remark}, #{super_id}, #{status}, #{sort}, #{pic});
	</insert>
	
	<update id="updateMenuStatus">
		update tb_caas_menu set `status`=#{status} where id=#{id};
	</update>
	
	<select id="getAllFirstMenu" resultType="map">
		select t.id,t.url,t.name,t.super_id,t.`sort` from tb_caas_menu t where t.`super_id` = '0';
	</select>
	
	<select id="getAllSecondMenu" resultType="map">
		select t.id,t.url,t.name,t.super_id,t.`sort` from tb_caas_menu t where t.`super_id` != '0';
	</select>
	
</mapper> 