<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mobile">

    <select id="mobileListData" resultType="map">
		select (@i:=@i+1)
		rownum,n.*,f.*
		from 
		tb_caas_phonenumber n left join tb_caas_fee f on n.rateId = f.id ,
		(select @i:=#{start} )it where 1=1
		<if test="condition != null">
			and (n.phoneNumber like concat('%',#{condition},'%')
				or n.userName like concat('%',#{condition},'%')
			)
		</if>
		<if test="city != null">
			and (n.city like concat('%',#{city},'%')
				or n.cityCode like concat('%',#{city},'%')
			)
		</if>
		<if test="serverProduct != null">
			and n.serverProduct = #{serverProduct}
		</if>
		<if test="status != null">
			and n.status = #{status}
		</if>
		<if test="allotStatus != null">
			and n.allotStatus = #{allotStatus}
		</if>
		${limit}
	</select>

	<select id="mobileListDataCount" resultType="map">
		select count(0) as totalCount
		from tb_caas_phonenumber n 
		where 1=1
		<if test="condition != null">
			and (n.phoneNumber like concat('%',#{condition},'%')
				or n.userName like concat('%',#{condition},'%')
			)
		</if>
		<if test="city != null">
			and (n.city like concat('%',#{city},'%')
				or n.cityCode like concat('%',#{city},'%')
			)
		</if>
		<if test="serverProduct != null">
			and n.serverProduct = #{serverProduct}
		</if>
		<if test="status != null">
			and n.status = #{status}
		</if>
		<if test="allotStatus != null">
			and n.allotStatus = #{allotStatus}
		</if>
	</select>

	<delete id="deleteMobile">
		delete from tb_caas_phonenumber where id =#{id};
	</delete>

	<delete id="batchDeleteMobile">
		delete from tb_caas_phonenumber where id in (${str});
	</delete>

	<select id="getMobile" resultType="map">
		select t.* from tb_caas_phonenumber t where t.id =#{id} limit 1
	</select>
	
	<select id="getMobileByMobile" resultType="map">
		select t.* from tb_caas_phonenumber t where t.phoneNumber =#{phoneNumber} limit 1
	</select>
	
	<select id="getAllMobile" resultType="map">
		select t.* from tb_caas_phonenumber t
	</select>

	<update id="saveEditMobile">
		update tb_caas_phonenumber set numberType=#{numberType},attribute=#{attribute}
		,status=#{status},remark=#{remark},rateId=#{rateId} where `id`=#{id};
	</update>
	
	<insert id="saveAddMobile">
		INSERT INTO `tb_caas_phonenumber` (`phoneNumber`, `city`, `cityCode`, `operator`, `numberType`, `applyDate`,
		`serverProduct`,`attribute`,`status`,`remark`,`allotStatus`) VALUES
		 (#{phoneNumber}, #{city}, #{cityCode}, #{operator}, #{numberType}, now(),
		 #{serverProduct}, #{attribute}, #{status}, #{remark}, '0');
	</insert>
	
	<update id="updateMobileStatus">
		update tb_caas_phonenumber set `status`=#{status} where id=#{id};
	</update>
	
	<select id="getAllRate" resultType="map">
		select n.id,n.rateName from tb_caas_fee n where n.status = '0'
	</select>
	
</mapper> 