<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="number">

	<!-- 号码管理 -->
	<select id="numberListData" resultType="map">
		select (@i:=@i+1)
		rownum,n.*,m.rateName
		from
		tb_caas_phonenumber n left join tb_caas_fee m on n.rateId=m.id,
		(select @i:=#{start} )it where 1=1
		<if test="phoneNumber != null">
			and n.phoneNumber like concat('%',#{phoneNumber},'%')
		</if>
		<if test="userId != null">
			and n.userId = #{userId}
		</if>
		<if test="productType != null">
			and n.productType = #{productType}
		</if>
		<if test="status != null">
			and n.status = #{status}
		</if>
		<if test="allotStatus != null">
			and n.allotStatus = #{allotStatus}
		</if>
		${limit}
	</select>

	<select id="numberListDataCount" resultType="map">
		select count(0) as totalCount
		from tb_caas_phonenumber n
		where 1=1
		<if test="phoneNumber != null">
			and n.phoneNumber like concat('%',#{phoneNumber},'%')
		</if>
		<if test="userId != null">
			and n.userId = #{userId}
		</if>
		<if test="productType != null">
			and n.productType = #{productType}
		</if>
		<if test="status != null">
			and n.status = #{status}
		</if>
		<if test="allotStatus != null">
			and n.allotStatus = #{allotStatus}
		</if>
	</select>

	<delete id="deleteNumber">
		delete from tb_caas_phonenumber where id =#{id};
	</delete>

	<delete id="batchDeleteNumber">
		delete from tb_caas_phonenumber where id in (${str});
	</delete>

	<select id="getNumber" resultType="map">
		select t.* from
		tb_caas_phonenumber t where t.id =#{id} limit 1
	</select>
	
	<select id="getNumberByNumber" resultType="map">
		select t.* from
		tb_caas_phonenumber t where t.phoneNumber =#{phoneNumber} limit 1
	</select>

	<select id="getAllNumber" resultType="map">
		select t.* from
		tb_caas_phonenumber t
	</select>

	<update id="saveEditNumber">
		update tb_caas_phonenumber set
		url=#{url},name=#{name},remark=#{remark},super_id=#{super_id},
		`status`=#{status},sort=#{sort},pic=#{pic} where `id`=#{id};
	</update>

	<insert id="saveAddNumber">
		INSERT INTO `tb_caas_phonenumber` (`url`, `name`,
		`remark`, `super_id`, `status`, `sort`, `pic`)
		VALUES (#{url}, #{name},
		#{remark}, #{super_id}, #{status}, #{sort}, #{pic});
	</insert>

	<update id="updateNumberStatus">
		update tb_caas_phonenumber set `status`=#{status}
		where id=#{id};
	</update>
	
	<select id="getNumberRate" resultType="map">
		select * from tb_caas_fee t where t.id = #{rateId}
	</select>
	
	<select id="getFeeMap" resultType="map">
		select * from tb_caas_fee t where t.productType=#{productType} and t.rateType='0'
	</select>
	
	<insert id="applyNumber">
		INSERT INTO `tb_caas_number_apply` (`userId`, `productType`, `numberCount`, `numberCityId`, `numberCityName`, 
		`rateId`, `status`, `context`, `createDate`) VALUES (#{userId}, #{productType}, #{numberCount}, #{numberCityId},
		 #{numberCityName}, #{feeId}, '0', #{context}, now());
	</insert>
	
	<update id="updateDevideStatus">
		update tb_caas_number_apply t set t.applyCount = t.applyCount + #{applyCount}, t.status='1' where t.id = #{id};
	</update>
	
	<update id="devideMobileToUser">
		update tb_caas_phonenumber t set t.allotStatus='1', t.userName=#{userName}, t.userId=#{userId}, t.productType = #{productType},
		t.rateId = #{rateId}, t.ratisUnit = #{ratisUnit}, t.employUnit = 0, t.reSidueUnit = #{ratisUnit} where t.id = #{mobileId}
	</update>
	
	<select id="getDevideRateAndUserInfo" resultType="map">
		select t.*, m.userName, n.gratisUnit as ratisUnit from tb_caas_number_apply t left join tb_caas_user m 
		on t.userId = m.userId left join tb_caas_fee n on t.rateId = n.id where t.id = #{id}
	</select>
	
	<select id="getAllCity" resultType="Map">
		select city_id as cityId, city_name as cityName from tb_caas_city
	</select>

	<select id="applyNumberListData" resultType="map">
		select (@i:=@i+1)
		rownum,n.*,m.rateName
		from
		tb_caas_number_apply n left join tb_caas_fee m on n.rateId=m.id,
		(select @i:=#{start} )it where 1=1
		<if test="status != null">
			and n.status = #{status}
		</if>
		<if test="productType != null">
			and n.productType = #{productType}
		</if>
		<if test="userId != null">
			and n.userId = #{userId}
		</if>
		${limit}
	</select>
	
	<select id="getOneApplyInfo" resultType="map">
		select t.*, m.userName from tb_caas_number_apply t left join tb_caas_user m on t.userId = m.userId where t.id = #{id}
	</select>

	<select id="applyNumberListDataCount" resultType="map">
		select count(0) as totalCount
		from tb_caas_number_apply n
		where 1=1
		<if test="status != null">
			and n.status = #{status}
		</if>
		<if test="productType != null">
			and n.productType = #{productType}
		</if>
		<if test="userId != null">
			and n.userId = #{userId}
		</if>
	</select>
	
	<select id="getUserAuthStatus" resultType="string">
		select status from tb_caas_authentication where userId=#{userId}; 
	</select>
	
	<select id="getAllApi" resultType="map">
		select t.id,t.apiName,t.productType from tb_caas_api t;
	</select>
</mapper> 