<?xml version="1.0" encoding="UTF-8"?>

<configuration status="off">

	<properties>
		<property name="file_path">/home/xupiao/caas</property>
	</properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] [%date] [%thread] [%X{token}] %C.%method\(%line\) - %msg%n" />
		</Console>

		 <RollingRandomAccessFile name="debug_file" fileName="${file_path}/debug.log"
	         filePattern="${file_path}/debug.%d{yyyy-MM-dd-HH}.log.gz" append="true">
	         <PatternLayout
	                 pattern="[%-5level] [%date] [%thread] [%X{token}] %C.%method\(%line\) - %msg%n" />
	         <Policies>
	                 <TimeBasedTriggeringPolicy modulate="true"
	                         interval="1" />
	         </Policies>
	         <DefaultRolloverStrategy max="365" />
         </RollingRandomAccessFile>

		<RollingFile name="error_file" fileName="${file_path}/error.log"
			filePattern="${file_path}/error.%d{yyyy-MM-dd}.log" append="true">
			<PatternLayout
				pattern="[%-5level] [%date] [%thread] [%X{token}] %C.%method\(%line\) - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="365" />
		</RollingFile>
	</appenders>
	<loggers>
		<asyncRoot includeLocation="true" level="DEBUG">
			<appender-ref ref="Console" />
			<appender-ref ref="debug_file" />
		</asyncRoot>
		
		<asyncLogger name="com.caas" level="debug" />

		<logger name="org.mybatis" level="warn" />
		<logger name="org.apache.ibatis" level="warn" />
		<logger name="org.apache.cxf" level="info" />
		<logger name="org.quartz.core" level="warn" />
		<logger name="org.quartz.impl" level="warn" />
		<logger name="org.apache.struts2" level="warn" />
		<logger name="com.opensymphony.xwork2" level="warn" />
	</loggers>

</configuration>
